In [2]:
import pandas as pd
l1 = [int(i) for i in input("Enter the list:").split()]
x = pd.Series(l1)
print(x)

Enter the list: 1

0    1
dtype: int64

In [2]:
dt = pd.date_range(start = '05-01-2021', end = '05-12-2021')
print(dt)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [3]:
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age' : [22, 25, 24],
              'occ' : ['engineer', 'doctor', 'accountant']}

df = pd.DataFrame(dictionary)
print(df)

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

In [4]:
lists = [[2, 'Vishal', 22],
         [1, 'Kushal', 25],
         [1, 'Aman', 24]]

df = pd.DataFrame(lists, columns = ['id', 'name', 'age'])

print(df)

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [25]:
df = pd.read_csv('data.csv')
print(df)

   id    name  age         occ  salary
0   3   Vinay   22    engineer   60000
1   1  Kushal   25      doctor   70000
2   3    Aman   24  accountant   50000
3   2   Rahul   27      doctor   60000
4   1  Ramesh   31      doctor   65000

In [15]:
print(df) 

df_sorted = df.sort_values(by = ['id', 'age']) 
print()
print(df_sorted)

   id    name  age         occ
0   3   Vinay   22    engineer
1   1  Kushal   25      doctor
2   3    Aman   24  accountant

   id    name  age         occ
1   1  Kushal   25      doctor
0   3   Vinay   22    engineer
2   3    Aman   24  accountant

In [17]:
print(df)

df_customindex = df.set_index('name')

print(df_customindex)

df = df_customindex.reset_index()

print(df)

   id    name  age         occ
0   3   Vinay   22    engineer
1   1  Kushal   25      doctor
2   3    Aman   24  accountant
        id  age         occ
name
Vinay    3   22    engineer
Kushal   1   25      doctor
Aman     3   24  accountant
     name  id  age         occ
0   Vinay   3   22    engineer
1  Kushal   1   25      doctor
2    Aman   3   24  accountant

In [19]:
print(df) 
o = df.iloc[[0,1], :] 
print()
print(o)

     name  id  age         occ
0   Vinay   3   22    engineer
1  Kushal   1   25      doctor
2    Aman   3   24  accountant

     name  id  age       occ
0   Vinay   3   22  engineer
1  Kushal   1   25    doctor

In [26]:
print(df) 
avg = df.groupby('occ')['salary'].mean()
print(avg)

   id    name  age         occ  salary
0   3   Vinay   22    engineer   60000
1   1  Kushal   25      doctor   70000
2   3    Aman   24  accountant   50000
3   2   Rahul   27      doctor   60000
4   1  Ramesh   31      doctor   65000
occ
accountant    50000.0
doctor        65000.0
engineer      60000.0
Name: salary, dtype: float64

In [29]:
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age' : [None, 25, 24],
              'occ' : ['engineer', 'doctor', 'accountant'],
              'salary' : [65000,None,50000]}
df = pd.DataFrame(dictionary)
print(df)
print()
df_nullfill = df.fillna(0)

print(df_nullfill)

     name   age         occ   salary
0   Vinay   NaN    engineer  65000.0
1  Kushal  25.0      doctor      NaN
2    Aman  24.0  accountant  50000.0

     name   age         occ   salary
0   Vinay   0.0    engineer  65000.0
1  Kushal  25.0      doctor      0.0
2    Aman  24.0  accountant  50000.0

In [5]:
data = {'cname' : ['Shyam & Co.','Ramlal & Bros.','Sharma Enterprises','Verma Furnitures','Rahul Stores'] ,
                'profit' : [-10000,10000,-5000,15000,20000]}
company_data = pd.DataFrame(data)
print(company_data)
print()
company_data['profit'] = company_data['profit'].apply(lambda x:x>0)
print(company_data)

                cname  profit
0         Shyam & Co.  -10000
1      Ramlal & Bros.   10000
2  Sharma Enterprises   -5000
3    Verma Furnitures   15000
4        Rahul Stores   20000

                cname  profit
0         Shyam & Co.   False
1      Ramlal & Bros.    True
2  Sharma Enterprises   False
3    Verma Furnitures    True
4        Rahul Stores    True

In [9]:
emp = {'eid' : [1,2,3,4],
       'ename' : ['Sid','Ramesh','Ron','Harry'],
       'stipend' : [10000,10000,5000,15000]}

company = {'eid':[1,2,3,4],
           'position' : ['employee','employee','intern','senior employee']}

emp_data = pd.DataFrame(emp)
company_data = pd.DataFrame(company)
print(emp_data)
print()
print(company_data)
print()

df = pd.merge(emp_data,company_data,how='inner',on='eid')
print(df)

   eid   ename  stipend
0    1     Sid    10000
1    2  Ramesh    10000
2    3     Ron     5000
3    4   Harry    15000

   eid         position
0    1         employee
1    2         employee
2    3           intern
3    4  senior employee

   eid   ename  stipend         position
0    1     Sid    10000         employee
1    2  Ramesh    10000         employee
2    3     Ron     5000           intern
3    4   Harry    15000  senior employee